/* GLOBAL */
@font-face {
	font-family: "pusab";
	src: url('bit.ttf');
}
html {
    font-family: pusab;
    font-size: 18px;
    text-shadow: 2px 2px #555;
    color: #fff;
    background: #222;
}
body {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
a {
    color: #20B2AA;
    text-decoration: none;
}
a:hover {
    color: #00FF00;
    text-shadow: 3px 3px #008000;
}
td {
    padding: 0 2em 0.5em 0;
}

/* DIRECTORY NAV */
#nav {
    position: fixed;
    top: 15px;
    left: 15px;
}
#forward, #back {
    color: grey;
    pointer-events: none;
}
#path {
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

/* PAGES */
#pages {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 50px;
}

/* INTRO PAGE */
#intro-page {
    margin-left: auto;
    margin-right: auto;
    width: 820px;
}
#info {
    margin-bottom: 1em;
}
#info img {
    border-radius: 50%;
    border: 3px solid white;
    margin-right: 2em;
}
#info span {
    font-size: 2em;
}
#links td.data {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/* PROJECTS PAGE */
#projects-page {
    display: none;
    padding: 0;
    margin: 0;
}
#projects-container {
    text-align: center;
}

/* PROJECT DETAILS */
/* TODO: figure out an optimal way to format this content */

/* MEDIA QUERIES */
@media (max-width: 920px) {
    html {
        font-size: 18px;
    }

    /* INTRO PAGE */
    td:not(#about), #links {
        display: none;
    }
    #intro-page {
        text-align: center;
        width: 400px;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 14px;
    }

    /* DIRECTORY NAV */
    #nav {
        display: none;
    }

    /* INTRO PAGE */
    #intro-page {
        text-align: center;
        width: 250px;
    }
}