/* GLOBAL */
@font-face {
	font-family: "pusab";
	src: url('bit.ttf');
}
html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
    font-family: pusab;
    font-size: 18px;
    text-shadow: 2px 2px #555;
    color: #fff;
    background: #222;
}
body {
    display: table-cell;
    vertical-align: middle;
    padding: 50px;
}
a {
    color: #20B2AA;
    text-decoration: none;
}
a:hover {
    color: #00FF00;
    text-shadow: 3px 3px #008000;
}
td {
    padding: 0 2em 0.5em 0;
}

/* DIRECTORY NAV */
#dir {
    position: fixed;
    left: 15px;
    top: 15px;
}

/* INTRO PAGE */
#intro-page {
    display: block;
    padding: 0;
    margin: 0;
}
#info {
    margin-bottom: 1em;
}
#info img {
    border-radius: 50%;
    border: 3px solid white;
    margin-right: 2em;
}
#info span {
    font-size: 2em;
}
#links td.data {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/* PROJECTS PAGE */
#projects-page {
    display: none;
    padding: 0;
    margin: 0;
}
#projects-container {
    text-align: center;
}

/* PROJECT DETAILS */
/* TODO: figure out an optimal way to format this content */
#diagram {
    width: 75%;
    background-color: white;
    border: 10px solid white;
}

/* MEDIA QUERIES */
@media (max-width: 900px) {
    html {
        font-size: 18px;
    }

    /* INTRO PAGE */
    td:not(#about), #links {
        display: none;
    }
    #about {
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 16px;
    }
}