/* GLOBAL */
@font-face {
	font-family: "pusab";
	src: url('bit.ttf');
}
html {
    display: table;
    margin: auto;
    height: 100%;
}
body {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #fff;
    background: #222;
    font-family: pusab;
    font-size: 16px;
    text-shadow: 2px 2px #555;
}
table {
    border: none;
}
a {
    color: #00FF00;
    text-shadow: 2.5px 2.5px #008000;
    text-decoration: none;
}
td {
    padding: 0 2em 0.5em 0;
}

/* FIRST PAGE */
#intro-page {
    display: block;
}
#info {
    margin-bottom: 1em;
}
#info img {
    border-radius: 50%;
    border: 3px solid white;
    vertical-align: middle;
    margin-right: 1em;
}
#info span {
    font-size: 2em;
}
#links td.data {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/* SECOND PAGE */
#projects-page {
    display: none;
}
#back {
    position: fixed;
    left: 25px;
    top: 25px;
}
#projects {
    text-align: center;
    padding: 50px;
}